[Unit]
Description=The PHP @PHP_VERSION@ FastCGI Process Manager
Documentation=man:php-fpm@PHP_VERSION@(8)
After=network.target

[Service]
Type=notify
ExecStart=/usr/sbin/php-fpm@PHP_VERSION@ --nodaemonize --fpm-config /etc/php/@PHP_VERSION@/fpm/php-fpm.conf
ExecStartPost=-/usr/bin/update-alternatives --quiet --install /run/php/php-fpm.sock php-fpm.sock /run/php/php@PHP_VERSION@-fpm.sock @PHP_MAJOR@@PHP_MINOR@ 2>/dev/null || /bin/true
ExecStopPost=-/usr/bin/update-alternatives --quiet --remove php-fpm.sock /run/php/php@PHP_VERSION@-fpm.sock 2>/dev/null || /bin/true
ExecReload=/bin/kill -USR2 $MAINPID

[Install]
WantedBy=multi-user.target
